<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5>Dashboard</h5>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-md-4">
      <mat-card class="">
        <mat-card-title>
          Total Trainees
        </mat-card-title>
        <mat-card-content class="text-primary">
          <h2>5000</h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="">
        <mat-card-title>
          Total Courses
        </mat-card-title>
        <mat-card-content class="text-primary">
          <h2>5000</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <mat-card class="">
        <mat-card-title>
          Total Active Trainees
        </mat-card-title>
        <mat-card-content class="text-primary">
          <h2>5000</h2>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="">
        <mat-card-title>
          Total Active Courses
        </mat-card-title>
        <mat-card-content class="text-primary">
          <h2>5000</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
























